.container{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

i:hover{
    color: lightblue;
}




@media screen and (min-width: 339px) {
    body{
        font-family: Arial;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .alert-info{
        background: #d5fdfd;
        padding: 10px;
        border-style: solid;
        border-color: lightgray;
        border-width: .5px;

        text-align: center;
    }

    .alert-info a{
        text-decoration: none;
    }

    h1{
        text-align: center;
    }

    .nav-links{
        width: 100%;
        padding: 0;
    }

    .nav-links li{
        background: lightgray;
        list-style: none;
        text-align: center;
        margin-top: 1em;
        padding: 1em;
    }

    .header-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .header-img img{
        width: 100%;
        height: auto;
    }

    .row {
        display: flex;
        flex-direction: column;
    }
    .footer2 {
        margin-top: 2.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }


}
@media screen and (min-width: 1024px) {
    body {
        font-family: "Comic Sans MS";
        margin: 0;
        padding: 0;
        width: 100%;
    }
.alert-info {
    display: none;
}
h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 48px;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-links li {
    background: none;
}
.header-img img{
    width: 100%;
    height: auto;
}
.row {
    display: flex;
    flex-direction: row;
    margin-right: 2em;
    margin-bottom: 5em;
    flex-grow: 1;
}
/*.main{*/
/*    width: 90%;*/
/*}*/
.sub-section{
    width: 80%;

}
.desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


}